body {

    background: url(https://m.media-amazon.com/images/I/51PgUU-I4XL._AC_UF894,1000_QL80_.jpg) no-repeat center fixed;
    background-size: cover;

}

:root {
    --red: #9e3434;
    --black: #302525;
    --grey: ;
}



.font {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ruwudu', serif;
}


/* UTILS */

.bg-grey {
    background-color: rgba(84, 76, 76, .75);
}

.bg-red {
    background-color: var(--red);
}

.bg-black {
    background-color: var(--black);
}